<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.ifootball.app"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 允许程序打开网络sockets -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 允许程序访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 允许程序访问有关的网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 允许程序改变网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <!-- 允许应用写（非读）用户的外部存储器 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 允许拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!-- 允许使用照相功能 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 允许使用震动 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>

    <!-- 百度地图需要的权限 -->


    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission> -->
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission> -->
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> -->
    <!-- 访问网络，网络定位需要上网 -->
    <!-- <uses-permission android:name="android.permission.INTERNET"/> -->
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <!-- 百度地图需要的权限end -->

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"/>

    <!-- 使用照相功能 -->
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.autofocus"/>

    <application
        android:name=".baseapp.BaseApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar">

        <!-- 百度地图 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2">
                </action>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="LTskQjeD4GaMFYUXeM8AbZkt"/>

        <activity
            android:name=".activity.stand.StartActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.stand.FirstStartAppActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".activity.stand.StandActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitle"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".activity.green.GreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitle"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".activity.found.FoundActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitle"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".activity.career.CareerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitle"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".activity.release.ReleaseImageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitle"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".activity.release.ReleaseTrendsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitle"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".activity.stand.SeeImageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitle"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".activity.stand.DetailsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitle"
            android:windowSoftInputMode="adjustResize|adjustUnspecified|stateHidden">
        </activity>
        <activity android:name=".activity.MapActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.NoTitle"
                  android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".activity.green.VenueDetailActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:screenOrientation="portrait"
                  android:theme="@style/Theme.NoTitle"
                  android:windowSoftInputMode="adjustPan|stateHidden"/>

        <service android:name=".androidservice.LocationService"/>


    </application>

</manifest>
